<!DOCTYPE html>
<html>
<head>
	<title>Test</title>
</head>
<body>
	<h1>Login</h1>
	<form action="/login" method="POST">
        <label for="email">Email</label>
        <input id="email" name="email" placeholder="john@yahoo.es" autofocus style="width: 250px;">
        <label for="password">Password</label>
        <input id="password" name="password" placeholder="********" style="width: 250px;">
        <input type="submit" value="Login"/>
    </form>
</body>
</html>